:root{
    --Blue-200: hsl(193, 38%, 86%);
    --Green-300: hsl(150, 100%, 66%);
    --Blue-600: hsl(217, 19%, 38%);
    --Blue-900: hsl(217, 19%, 24%);
    --Blue-950: hsl(218, 23%, 16%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
body{
    font-family: "Manrope", sans-serif;
    max-width: 1440px;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--Blue-950);
}
.card{
    background-color: var(--Blue-900);
    width: 38rem;
    padding: 40px 40px 80px;
    display: grid;
    gap: 30px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.card h3 {
    color: var(--Green-300);
    letter-spacing: 5px;
}
.card h1 {
    color:var(--Blue-200);
    font-weight: 800;
}
.card button{
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    background-color: var(--Green-300);
    transition: filter 0.5s ease-in-out;
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 0;
    left: 50%;
    cursor: pointer;
}
.card button:hover{
    filter: drop-shadow(0 0 8px var(--Green-300));
}
@media (max-width: 40rem) {

    body {
        padding: 20px;
    }

    .card{
        width: 100%;
    }
}